@media screen and ( max-width: 768px) {
     
    p {
        font-size: 14px;
    }

    #about .container,
    #skills .container,
    #projects .container,
    #contact .container {
        padding: 0px 50px;
    }

    .intro .btn-danger {
        width: 150px;
        height: 40px;
    }

    #about .info .box-left img {
        width: 70%;
    }

    #skills .skill {
        width: 100%;
    }

    header .menu {
        display: none;
    }

    header .open-menu {
        display: block;
    }
}

@media screen and ( max-width: 600px) {
    #about .container,
    #skills .container,
    #projects .container,
    #contact .container {
        padding: 0px 20px;
    }

    #about .info .box-left {
       text-align: center;
       width: 100%;
    }

    #about .info {
        grid-template-columns: repeat(1,1fr);
    }

    #projects ul {
        grid-template-columns: repeat(1,1fr);
    }
}
